.new-todo-modal {
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 8px 0;
}

fieldset label {
  font-weight: 500;
}

#desc {
  height: 100px;
}

#project {
  width: 150px; 
}

.date-time-div {
  display: flex;
  gap: 40px;
}

.date-time-div > div {
  display: flex;
  flex-direction: column;
}

.new-todo-button-div {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.new-todo-button-div > button {
  background-color: var(--header-bg-color);
  border: none;
  border-radius: 16px;
  font-weight: 500;
  padding: 8px;
  width: 92px;
  transition: .1s ease-in;
}

.new-todo-button-div > button:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}